.background{
    color: #000000;
    text-align: center;
    font-size: 2rem;
}
.card-size{
    width: 100%;
}
.pink{
    color: hotpink;
}
.white-bg{
    background-color: #ffffff;
    height: 160px;
    width: 320px;
}
.top{
    color: #838383;
    font-size: 11px;
    margin-top: -8px;
}
.middle{
    margin-top: -10px;
}
.bottom{
    margin-top: -25px;
    margin-bottom: 20px;
}
.form2{
    background-color: #d4d4d4;
    border-radius: 1px;
    width: 320px;
    text-align: center;
}
.btn-w{
    width: 320px;
    height: 55px;
}
