.colorNav{
    background-color: black;
    color: rgb(232, 223, 223);
    width: 100%;
    height: 30px;
    justify-content: center;
    
}
.pa{
    justify-content: space-between;
}
.head{
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    height: 50%;
    font-size: 18px;
}
.icons{
    justify-content: flex-end;
}
.headertwo{
    justify-content: space-evenly;
}
.ic{
    justify-content: flex-end;
}