.background{
    color: #000000;
    text-align: center;
    font-size: 2rem;
}
.card-size{
    width: 525px;
}
.pink{
    color: hotpink;
}
.white-bg{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    height: 70px;
    width: 320px;
}
.top{
    top: 40%;
    color: #838383;
}
.bottom{
    top: 46%;
}
