.background2{
    background-color: #ffffff;
    box-sizing: border-box;
}
.margin2{
    margin-top: -113px;
    width:80%;
    margin-left: 10%;

}
.card{
    margin-left: 0;
}
.marginMouseOver{
    margin-top: -70px;
    width:80%;
    margin-left: 10%;
}
.visuallySeen{
    opacity: 100%;
}
